.a {
    padding: 8px ;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}
.container{
    flex:1;
    max-width: 1200px;
    display: flex;
    row-gap: 8px;
    flex-direction: column;
}
.aa{
    display: flex;
}
.aaa{
    display: flex;
    padding: 6px;
}
.ic{
    color: red;
    font-size: 30px;
}
.map{
    font-size: 30px;
    width: fit-content;
    align-self: center;
}
.aab{
    flex: 1;
    padding-left: 8px;
    display: flex;
    flex-direction: column;
}
.a_name{
    font-size: 20px;
    font-weight: bold;
}
.a_address{
    font-size: 16px;
    font-weight:bolder;
}
.a_timing{
    font-size: 14px;
    font-weight: lighter;;
}
.a_description{
    padding-left: 10px;
    word-wrap:break-word;
    font-size: 15px;
}
.aac{
    text-align: center;
    margin: auto;
    padding: 8px;
}


