.e{
    padding:  10px;
    padding-bottom: 0px;
    box-shadow: none;
    display: flex;
    flex-direction: row;
}
.e_left{
    flex: 1;
}
.e_socials{
    display: flex;
    flex-direction: row;
}
.e_heading{
    font-size: 16px;
}

.e_contact{
    padding: 3px; 
    margin-left: 10px;
    font-size: 16px;
    word-wrap:break-word;
    color: #CC3434;
}
.e_right{
    text-align: center;
}
.e_mainSite:hover{
    cursor: pointer;
}
