.e{
    padding:  15px;
    padding-bottom: 0px;
    box-shadow: none;
    display: flex;
    flex-direction: row;
}
.e_left{
    flex: 1;
}
.e_socials{
    display: flex;
    flex-direction: row;
}
.e_heading{
    font-size: 16px;
}
.e_button{
    font-family: Fonty;
    align-self:flex-start;
    padding-left: 0px;
    border-style: none;
    color: #CC3434;
    background-color: #ffffff;
}
.e_contact{
    padding: 5px;
    margin-left: 10px;
    font-size: 16px;
    word-wrap:break-word;
    color: #CC3434;
}
.e_right{
    text-align: center;
    color: black;
}
.e_mainSite{
    color: black;
}
.e_mainSite:hover{
    cursor: pointer;
}
